* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2b2b;
  color: white;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header .logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 30px;
  border: 2px solid #555;
}

.header .nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header .nav-links li a {
  font-size: 18px;
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.header .nav-links li a:hover {
  color: white;
  text-shadow: 0 0 5px #999;
}

.hero {
  height: 50vh;
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center 40%;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  background: #3a3a3a;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.carousel img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border: 3px solid #555;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.carousel img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px #777;
}

button {
  background: #555;
  color: white;
  border: none;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

button:hover {
  background: #777;
  transform: scale(1.1);
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
