* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1b2838;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 5px 10% ;

}

.header .logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 30px;
        
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
transform: scale(1.1);
}

.header .nav-links a {
    font-size: 20px;
    text-decoration: none;
    color: gray;

}

.hero {
  height: 50vh; 
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center 20%;
}


.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.carousel img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border: 3px solid #0f0;
  border-radius: 10px;
  box-shadow: 0 0 20px #0f0;
  transition: 0.5s;
}

button {
  background: #0f0;
  color: black;
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

button:hover {
  background: #fff;
  transform: scale(1.1);
}