body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #1b2838, #171a21);
}
h1,
h2,
h3 {
    color: #f1f1f2;
    text-align: center;
    letter-spacing: 1px;
    margin: 30px 0 15px;
    transition: 0.3s;
}

h2:hover,
h3:hover {
    color: #66c0f4;
    text-shadow: 0 0 10px #66c0f4;
    transform: scale(1.03);
}

.arriba1 {
    background: #222;
    color: white;
    padding: 5px 10px;
}

.menu1 {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.destacado {
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: #999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.destacado:hover {
    box-shadow: 0 0 15px #66c0f4;
    transform: scale(1.02);
    transition: 0.3s;
}
.mini:hover {
    box-shadow: 0 0 10px #66c0f4;
    transform: scale(1.03);
    transition: 0.3s;
}
.mini2:hover{
box-shadow: 0 0 10px #66c0f4;
    transform: scale(1.5);
    transition: 0.3s;
}
.descripcion {
    background: #555;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.seccion2{
    display: flex;
    flex-direction: row;
    margin: 2px;
    
}
.mini2{
    width: 350px;
    height: 180px;
    background: #bbb;
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    margin: 30px;
    border: 5px solid cadetblue;
   
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.carrusel-videos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}

video {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}


.arriba2 {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}

.menu2 {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.busca {
    display: flex;
    gap: 5px;
}

.menuchico {
    background: #444;
    color: white;
    padding: 8px 10px;
}

.menuchico ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.principal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.grande {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destacado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}
.izq:hover {
    box-shadow: 0 0 15px #d4d4d4;
    transform: scale(1.02);
    transition: 0.3s;
}
.der:hover {
    box-shadow: 0 0 15px #d4d4d4;
    transform: scale(1.02);
    transition: 0.3s;
}
.menu2 a:hover,
.menuchico a:hover {
    color: #66c0f4;
    cursor: pointer;
    transition: color 0.3s;
}
.menu2 a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s, border-bottom 0.3s;
}

.menu2 a:hover {
    color: #66c0f4;
    border-bottom: 2px solid #66c0f4;
}

.menu2 a.activo {
    color: #66c0f4;
    border-bottom: 2px solid #66c0f4;
}
.menu1 a,
.menu2 a,
.menuchico a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

/*Banner*/
.hero {
    width: 100%;
    height: 50vh;
    background-image: url("./img/banner.png");
    background-size: cover;
    background-position: center 20%;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-bottom: 6px solid #66c0f4;
}

/*carousel pagina principal*/

.izq,
.der {
    background: #555;
    color: white;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 60px;
}

.chicos {
    display: flex;
    gap: 10px;
}

.mini {
    width: 250px;
    height: 150px;
    background: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.mini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*Biblioteca*/
.biblioteca {
  display: flex;

}

.biblioteca-lista{
  width: 600px;
  border-right: 2px solid #0e151e;

}

.biblioteca-lista ul {
  list-style: none;
}

.biblioteca-lista ul li {
  padding: 0;
  height: 30px;
  margin-bottom: 15px;

}


.biblioteca-lista ul li a {
    color: #6a7179;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;

}

.biblioteca-lista li:hover {
    background-color:  #354251;
}




.biblioteca-juegos {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.minib {
    width: 350px;
    height: 400px;
    background: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.minib img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.minib:hover {
    box-shadow: 0 0 10px #66c0f4;
    transform: scale(1.03);
    transition: 0.3s;
}

/*Carousel pagina recomendaciones*/
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.carousel img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    border: 3px solid #555;
    border-radius: 10px;
    transition: 0.4s;
}

.carousel img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px #66c0f4;
}

.izq,
.der {
    background: #555;
    color: white;
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.izq:hover,
.der:hover {
    background: #666;
    box-shadow: 0 0 15px #d4d4d4;
    transform: scale(1.1);
}


/*Formulario*/

.container {
    border: 2px solid #0e151e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px #0e151e;
    max-width: 600px;
    margin: 50px auto;
}

.container h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #f1f1f2;
}

.inputs {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #66c0f4;
    margin-bottom: 10px;
}

textarea {
    border-bottom: 1px solid #66c0f4;
    min-height: 150px;
    resize: vertical;
}

.botones {
    text-align: center;
    margin-top: 15px;
}

input[type="submit"],
input[type="reset"] {
    background-color: black;
    color: #f1f1f2;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 0.9rem;
}
#resultado {
    display: none;
    margin-top: 1rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
    color: rgb(22, 175, 111);
    text-align: center;
    width: 55%;
    margin: auto;
    margin-top: 15px;
}

/*Footer*/
.separador {
    border: 2px solid #6a7179;
    margin: 0 auto;
    max-width: 90%;
}
.abajo {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    min-height: 100px;
}

.abajo p {
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
}

/*partePerfil*/
   
        .seccion-comentarios {
            max-width: 700px;
            margin: auto;
        }

        .comentario {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            background: #2a2a2a; 
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 15px;
            background-color: #e0e0e0;
            object-fit: cover;
            
        }

        .avatar-letra {
            background-color: #9b59b6;
            color: white;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .header {
            display: flex;
            align-items: baseline;
            margin-bottom: 5px;
        }

        .usuario {
            font-size: 15px;
            font-weight: 700;
            color: #66c0f4; 
            margin-right: 10px;
        }

        .tiempo {
            font-size: 13px;
            color: #a0a0a0; 
        }

        .texto {
            font-size: 14px;
            color: #e0e0e0; 
            margin: 0;
            line-height: 1.5;
        }
        
        #perfil{ 
          display: flex;
        justify-content: center; 
        align-items: center; 
         margin: 0 auto;
        }
        #textoperfil{
            color: white;
            padding: 15px;
            
        }
       .imagenPerfil{
        border: 3px solid white;
        border-radius: 50%; 
        width: 280px; 
        height: 280px; 
        margin-top: 10px;
        display: flex;
        justify-content: center;
       }
       