
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #1b2838, #171a21);
}
h2, h3 {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin: 30px 0 15px;
  transition: 0.3s;
}

h2:hover, h3:hover {
  color: #66c0f4;
  text-shadow: 0 0 10px #66c0f4;
  transform: scale(1.03);
}

.arriba1 {
  background: #222;
  color: white;
  padding: 5px 10px;
}

.menu1 {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.destacado {
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background: #999;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.destacado:hover{
  box-shadow: 0 0 15px #66c0f4;
  transform: scale(1.02);
  transition: 0.3s
}
.mini:hover{
  box-shadow: 0 0 10px #66c0f4;
  transform: scale(1.03);
  transition: 0.3s
}
.descripcion {
  background: #555;
  color: white;
  padding: 10px;
  font-size: 14px;
}

.arriba2 {
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
}

.menu2 {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.busca {
  display: flex;
  gap: 5px;
}

.menuchico {
  background: #444;
  color: white;
  padding: 8px 10px;
}

.menuchico ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.principal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.grande {
  display: flex;
  align-items: center;
  gap: 10px;
}



.destacado img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
}
.izq:hover{
  box-shadow: 0 0 15px #d4d4d4;
  transform: scale(1.02);
  transition: 0.3s
}
.der:hover{
  box-shadow: 0 0 15px #d4d4d4;
  transform: scale(1.02);
  transition: 0.3s
}
.menu2 a:hover,
.menuchico a:hover {
  color: #66c0f4;
  cursor: pointer;
  transition: color 0.3s ease;
}
.menu2 a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu2 a:hover {
  color: #66c0f4;
  border-bottom: 2px solid #66c0f4;
}

.menu2 a.activo {
  color: #66c0f4;
  border-bottom: 2px solid #66c0f4;
}
.menu1 a,
.menu2 a,
.menuchico a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.izq, .der {
  background: #555;
  color: white;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 60px;
}

.chicos {
  display: flex;
  gap: 10px;
}

.mini {
  width: 250px;
  height: 150px;
  background: #bbb;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}

.mini img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.abajo {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
  background: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.carousel img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border: 3px solid #555;
  border-radius: 10px;
  transition: 0.4s;
}


.carousel img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px #66c0f4;
}

.izq, .der {
  background: #555;
  color: white;
  border: none;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.izq:hover, .der:hover {
  background: #666;
  box-shadow: 0 0 15px #d4d4d4;
  transform: scale(1.1);
}

.hero {
  width: 100%;
  height: 50vh; 
  background-image: url("./img/banner.png"); 
  background-size: cover;
  background-position: center;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-bottom: 6px solid #66c0f4;
}